#gallery{
    width: 100%;
}

@media screen and(max-width:480px){
    width: 100%;
}

@media screen and(max-width:768px){
    width: 100%;
}

@media screen and(min-width:768px max-width:992px){
    font-size: 0;
    width: 50%;
}